body{
    margin: 0;
    color: #111;
    font-family: "Noto Sans KR", sans-serif;
}

/*Mobile*/

.quizbox{
    width: 100%;
    padding: 2em 0;;
    background: #f9ea9a;
    border-radius: 3.125em;
}
.tit{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
}
.bod{
    border-bottom: 1px solid #111;
    padding-bottom: 5px;
}
.bod.bod:first-child{
    border-top: 1px solid #111;
}
.q_tit{
    font-size: 1.8rem;
    font-weight: 700;
}
form{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.875em;
}

/* 라디오 버튼 숨기기 */
input[type="radio"] {
  display: none;
}

/* 라벨 스타일 */
.custom-radio {
  width: 80%;
  display: block;
  padding: 10px 20px;
  border-radius: 50px; 
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #2d4900;
  color: #ffffff;
}

/* 선택된 경우 스타일 */
input[type="radio"]:checked + .custom-radio {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

#anbtn{
    width: 250px;
    padding: 20px;
    border-radius: 50px;
    border: none;
    font-size: 1.875rem;
    font-weight: 700;
    cursor: pointer;
    background: #1338bd;
    color: #fff;
    margin: 50px auto;
    display: block;
}
.modal{
    width: 70%;
    padding: 50px 20px;
    background: #fcfcfc;
    position: fixed;
    top: 10%;
    left:15%;
    border-radius: 50px;
    display: none;

}
.modal.on{
    display: block;
}

#clobtn{
    width: 150px;
    padding: 10px 20px;
    border-radius: 50px;
    background: green;
    font-size: 40px;
    color: #fff;
    font-weight: 900;
    margin: 5px 10px 0 auto;
    display: block;
    cursor: pointer;
    border: none;
}

#sco{
    font-size: 60px;
    color: #111;
    margin-top: 20%;
    text-align: center;
    animation: countnum 1s ease-in-out forwards;
    font-weight: 700;
}

#prize_form{
    display: none;
}
#prize_form label{
    display: block;
    width: 30%;
}
#prize_form input{
    padding: 15px 20px;
}
#prize_form input::placeholder{
    color: #111;
    font-size: 30px;
}


@keyframes countnum {
  0% {
    transform: scale(0);  /* 처음에는 크기가 0 */
    opacity: 0;           /* 투명도도 0 */
  }
  100% {
    transform: scale(1);  /* 끝에는 원래 크기로 */
    opacity: 1;            /* 투명도가 1 */
  }
}

@media(min-width:600px){
    .quizbox{
        width: 95%;
        padding: 2em 1.5em;
        background: #f9ea9a;
        border-radius: 3.125em;
        margin: 0 auto;
    }
    .q_tit{
        font-size: 2rem;
    }
    form{
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.875em;
    }
    label{
        display: inline-block;
        margin: 20px 0;
    }
    input[type=radio] {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    #anbtn{
        width: 300px;
        padding: 25px;
        font-size: 2.5rem;
        margin: 55px auto;
    }
    .modal{
        padding: 50px 20px;
        top: 15%;
        left:15%;
    }
    .custom-radio {
     width: 100%;
}
}

@media(min-width:1024px){
    .quizbox{
        width: 80%;
        padding: 2.5em 3.5em;
        margin: 0 auto;
        background: #f9ea9a;
    }
    .tit{
        font-size: 4rem;
    }
    .q_tit{
        font-size: 3.5rem;
    }
    form{
        font-size: 3.5rem;
        line-height: 1.875em;
    }
    label{
        margin: 0 auto;
    }
    input[type=radio] {
        width: 50px;
        height: 50px;
    }
    #anbtn{
        width: 450px;
        padding: 25px;
        font-size: 4rem;
        margin: 55px auto;
    }

}
